.vs
AskToPortal/bin
AskToPortal/obj
ButtonMover/bin
ButtonMover/obj
ClickFix/bin
ClickFix/obj
CloningBeGone/bin
CloningBeGone/obj
PlayerList/bin
PlayerList/obj
ReloadAvatars/bin
ReloadAvatars/obj
UserInfoExtensions/bin
UserInfoExtensions/obj