.vs
AskToPortal/bin
AskToPortal/obj
AvatarDownloadPriority/bin
AvatarDownloadPriority/obj
AvatarHider/bin
AvatarHider/obj
bakcup
ButtonMover/bin
ButtonMover/obj
ChairExitController/bin
ChairExitController/obj
ClickFix/bin
ClickFix/obj
CloningBeGone/bin
CloningBeGone/obj
InstanceHistory/bin
InstanceHistory/obj
PlayerList/bin
PlayerList/obj
PreviewScroller/bin
PreviewScroller/obj
LogoutClient/bin
LogoutClient/obj
ReloadAvatars/bin
ReloadAvatars/obj
RememberMe/bin
RememberMe/obj
SelectYourself/bin
SelectYourself/obj
TriggerESP/bin
TriggerESP/obj
UserInfoExtensions/bin
UserInfoExtensions/obj
VRChatUtilityKit/bin
VRChatUtilityKit/obj