.vs
AskToPortal/bin
AskToPortal/obj
bakcup
ButtonMover/bin
ButtonMover/obj
ClickFix/bin
ClickFix/obj
CloningBeGone/bin
CloningBeGone/obj
ConsoleViewer/bin
ConsoleViewer/ConsoleHelper/Debug
ConsoleViewer/obj
InstanceHistory/bin
InstanceHistory/obj
PlayerList/bin
PlayerList/obj
LogoutClient/bin
LogoutClient/obj
ReloadAvatars/bin
ReloadAvatars/obj
UserInfoExtensions/bin
UserInfoExtensions/obj